.categories {
    display: none;
    flex: 100%;
}

.visible {
    display: block;
}

.active {
    background: rgba(255, 255, 255, 0.25);
}

.link {
    color: #fff;
    display: block;
    line-height: 2;
    padding: 0 1rem;
}
