.app {
    min-height: 100vh;
    margin-bottom: 88px;
    background: #fff;
    padding-top: 44px;
}

.app::before {
    content: '';
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    transition: 0.1s opacity ease-in-out;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
}

.menuVisible::before {
    opacity: 1;
}
