.app {
    min-height: calc(100vh - 44px);
    margin-bottom: 132px;
    background: #fff;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px rgba(51, 51, 51, 0.5);
}

.app::before {
    content: '';
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.5);
    z-index: 1;
    transition: 0.1s opacity ease-in-out;
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
}

.menuVisible::before {
    opacity: 1;
    pointer-events: auto;
}
