.header {
    display: flex;
    background: url(/src/images/header.png);
    flex-wrap: wrap;
}

.logo {
    margin: 0 auto 0 0;
    font-weight: normal;
}

.logoLink {
    color: #fff;
    display: block;
    line-height: 1.25;
    padding-left: 0.5rem;
}

.button {
    background-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 2.5rem;
}

.search {
    composes: button;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M344.5 298c15-23.6 23.8-51.6 23.8-81.7 0-84.1-68.1-152.3-152.1-152.3C132.1 64 64 132.2 64 216.3c0 84.1 68.1 152.3 152.1 152.3 30.5 0 58.9-9 82.7-24.4l6.9-4.8L414.3 448l33.7-34.3-108.5-108.6 5-7.1zm-43.1-166.8c22.7 22.7 35.2 52.9 35.2 85s-12.5 62.3-35.2 85c-22.7 22.7-52.9 35.2-85 35.2s-62.3-12.5-85-35.2c-22.7-22.7-35.2-52.9-35.2-85s12.5-62.3 35.2-85c22.7-22.7 52.9-35.2 85-35.2s62.3 12.5 85 35.2z'/%3E%3C/svg%3E");
}

.menu {
    composes: button;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z'/%3E%3C/svg%3E");
}

.categories {
    display: none;
    flex: 100%;
}

.categoryLink {
    color: #fff;
    display: block;
    line-height: 2;
    padding: 0 0.5rem;
}

.menuVisible {
    display: block;
}
